<div class="component-container">
  <div class="messages-container">
    <app-message [isUser]="true"/>
    <app-message [isUser]="true"/>
    <app-message [isUser]="false"/>
    <app-message [isUser]="true"/>
  </div>
  <div class="writer-container">
    <div class="input-container">
      <input type="text" placeholder="Write message" class="input-with-icons">
      <i class="fas fa-image icon-button first-icon"></i>
      <i class="fas fa-paper-plane icon-button" [class.disabled]="!false"></i>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" id="myCheckbox" class="checkbox-input">
      <label for="myCheckbox" class="checkbox-label">Send message immediately on Enter key</label>
    </div>
  </div>
</div>
